@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-color: #2c2b2b;
  --main-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
}

.active-link {
  text-decoration: underline;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--main-color);
}

a {
  text-decoration: none;
}